<div class="p-5 text-center bg-image" style="height: 100vh;">
    <img class="light-off-on-img" src="/OrchardSkills.OrchardCore.RaspberryPi/img/camera.png" alt="">
    <img src="" alt="">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <a class="btn btn-success fw-bolder btn-lg" style="color: white !important" asp-action="CaptureImage">Capture Image</a>
            </div>
        </div>
    </div>
</div>
